<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, minimal-ui" />
    <link rel="shortcut icon" href="" />
    <link rel="stylesheet" href="{{assets}}/css/app.css">
</head>

<body class="pre-load">

    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="st-container" class="st-container">

        <!-- Navigation - under all other elements  -->
        <nav class="st-menu st-effect-2 nav-wrapper">
            <ul>
                <li><a class="menu-link" href="{{assets}}/../">Home</a></li>
                <li><a class="menu-link" href="{{assets}}/../about">About</a></li>
            </ul>
        </nav>

        <!-- content push wrapper -->
        <div class="st-pusher">
            <div class="st-content"><!-- this is the wrapper for the content -->
                <div class="st-content-inner"><!-- extra div for emulating position:fixed of the menu -->
                    <div class="main clearfix">

                        <div class="main-content-wrapper">
                            <!-- Primary nav -->
                            <div class="nav-trigger-top-wrapper">
                                <a data-effect="st-effect-2" href="javascript:void(0);" class="nav-elems side-bar-trigger">
                                    <div class="name">
                                        {{> menu-name}}
                                    </div>
                                    <div class="lines">
                                        <div class="show-for-small">
                                            {{> menu-lines-small}}
                                        </div>
                                        <div class="show-for-medium-up">
                                            {{> menu-lines-medium}}
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </div>

                            <div class="nav-trigger-body-wrapper">
                                <a data-effect="st-effect-2" href="javascript:void(0);" class="nav-elems side-bar-trigger">
                                    <div class="logo">
                                        {{> logo}}
                                    </div>
                                    <div class="lines">
                                        <div class="show-for-small">
                                            {{> menu-lines-small}}
                                        </div>
                                        <div class="show-for-medium-up">
                                            {{> menu-lines-medium}}
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </div>

                            <!-- Primary view -->
                            {{> body}}

                            <footer>
                                <div class="row bg-color-purple-primary show-for-small">
                                    <div class="small-12 columns small-padding-top-11x small-padding-bottom-7x">
                                        <div class="logo-name">
                                            {{> logo-name}}
                                        </div>
                                    </div>
                                </div>

                                <div class="row full-width monospace bg-color-purple-primary font-color-white-primary">
                                    <div class="small-12 medium-3 columns medium-padding-top-6x xlarge-padding-top-8x medium-padding-bottom-6x xlarge-padding-bottom-8x footer-box">
                                        <div class="row">
                                            <div class="small-12 columns hide-for-small">
                                                <span class="font-pitch-caps text-upper">Everywhere</span>
                                            </div>

                                            <div class="small-12 columns medium-margin-top-4x xlarge-margin-top-4x">
                                                <p class="font-pitch-paragraph small-text-center medium-text-left">
                                                    <a class="font-color-white-primary" href="mailto:hello@grainforall.com">hello@grainforall.com</a><br />
                                                    <a target="_blank" class="font-color-white-primary sm-link" href="https://twitter.com/grainforall">Twitter</a>
                                                    <a target="_blank" class="font-color-white-primary sm-link" href="https://www.facebook.com/grainforall">Facebook</a>
                                                    <a target="_blank" class="font-color-white-primary" href="http://vimeo.com/grainforall">Vimeo</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="small-12 columns show-for-small-only small-margin-top-3x small-margin-bottom-3x">
                                        <div class="hr bg-color-purple-really-dark"></div>
                                    </div>

                                    <div class="small-12 medium-3 columns medium-padding-top-6x xlarge-padding-top-8x medium-padding-bottom-6x xlarge-padding-bottom-8x footer-box">
                                        <div class="row">
                                            <div class="small-12 columns">
                                                <span class="font-pitch-caps text-upper hide-for-small">Saint Louis</span>
                                            </div>
                                            <div class="small-12 columns medium-margin-top-4x xlarge-margin-top-4x">
                                                <p class="font-pitch-paragraph small-text-center medium-text-left">
                                                    <span class="font-color-white-primary">3309 Meramec Street</span><br />
                                                    <span class="font-color-white-primary">Saint Louis MO 63118</span> <br />
                                                    <a href="tel:3149325335" class="font-color-white-primary">314 932 5335</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="small-12 columns show-for-small-only small-margin-top-3x small-margin-bottom-3x">
                                        <div class="hr bg-color-purple-really-dark"></div>
                                    </div>

                                    <div class="small-12 medium-3 columns medium-padding-top-6x xlarge-padding-top-8x medium-padding-bottom-6x xlarge-padding-bottom-8x footer-box">
                                        <div class="row">
                                            <div class="small-12 columns">
                                                <span class="font-pitch-caps text-upper hide-for-small">New York</span>
                                            </div>
                                            <div class="small-12 columns medium-margin-top-4x xlarge-margin-top-4x small-text-center medium-text-left">
                                                <p class="font-pitch-paragraph">
                                                    <span class="font-color-white-primary">222 Broadway, 19th Floor</span><br />
                                                    <span class="font-color-white-primary">New York NY 10038</span> <br />
                                                    <a href="tel:2128283322" class="font-color-white-primary">212 828 3322</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="small-12 columns show-for-small-only small-margin-top-3x small-margin-bottom-3x">
                                        <div class="hr bg-color-purple-really-dark"></div>
                                    </div>

                                    <div class="small-12 medium-3 columns medium-padding-top-6x xlarge-padding-top-8x medium-padding-bottom-6x xlarge-padding-bottom-8x footer-box">
                                        <div class="row">
                                            <div class="small-12 columns">
                                                <span class="font-pitch-caps text-upper hide-for-small">Etcetera</span>
                                            </div>
                                            <div class="small-12 columns medium-margin-top-4x xlarge-margin-top-4x small-text-center medium-text-left small-margin-bottom-6x xlarge-margin-bottom-0x">
                                                <p class="font-pitch-paragraph">
                                                    &copy; Grain Inc. 2013
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row full-width bg-color-purple-dark small-padding-top-4x small-padding-bottom-4x">
                                    <div class="small-12 columns text-center">
                                        <span class="font-national-tagline-footer font-color-purple-tint-65">Creating uncommon good</span>
                                    </div>
                                </div>
                            </footer>

                            <div class="active-overlay"></div>
                        </div>
                    </div><!-- /main -->
                </div><!-- /st-content-inner -->
            </div><!-- /st-content -->
        </div><!-- /st-pusher -->
    </div>

    {{#content_suffix_exists}}
        {{> content_suffix}}
    {{/content_suffix_exists}}

    <div class="fade-overlay"></div>

    <!-- Google Analytics -->
    <!-- @todo include via partial -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-41745063-1');
    ga('send', 'pageview');
    </script>

    <!-- Bower Components -->
    <!--[if lt IE 9]>
    <script src="{{assets}}/bower/es5-shim/es5-shim.js"></script>
    <script src="{{assets}}/bower/json3/lib/json3.min.js"></script>
    <![endif]-->
    <script src="{{assets}}/bower/modernizr.js"></script>
    <script src="{{assets}}/bower/jquery.js"></script>
    <script src="{{assets}}/bower/fastclick.js"></script>
    <script src="{{assets}}/bower/jquery.cookie.js"></script>
    <script src="{{assets}}/bower/jquery.placeholder.js"></script>
    <script src="{{assets}}/bower/foundation.js"></script>
    <script src="{{assets}}/bower/jquery.easing.min.js"></script>

    <!-- Nav -->
    <script src="{{assets}}/js/vendor/classie.js"></script>
    <script src="{{assets}}/js/vendor/sidebareffects.js"></script>

    <script src="{{assets}}/js/app.js"></script>
    <script src="{{assets}}/js/components/nav.js"></script>

    <!-- Page Specific CSS -->
    <link rel="stylesheet" href="{{assets}}/css/pages/{{page_css}}" />

    <!-- Page Specific JS -->
    <script src="{{assets}}/js/pages/{{page_js}}"></script>

</body>
</html>
